services:
  webex-bot:
    image: ghcr.io/lanceyvang/webex-bot:latest
    container_name: webex-bot
    restart: unless-stopped
    network_mode: host
    env_file:
      - .env
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
